.Hollow {
    font-size: 5vw; /* Default size */
    font-weight: 800;
}

.Hollow:hover {
    -webkit-text-stroke: 2px black;
    color: transparent;
    animation: ease-in;
    transform: scale(1.10);
}

.smallHollow {
    font-size: 4vw;
    font-weight: 800;
}

.smallHollow:hover {
    -webkit-text-stroke: 2px black;
    color: transparent;
    animation: ease-in;
    transform: scale(1.10);
}

.lgHollow {
    font-size: 3.5vw; 
    font-weight: 840;
}


 @media (min-width: 1200px) {
    .Hollow {
        font-size: 90px; 
    }
    .smallHollow {
        font-size: 60px; 
    }
    .lgHollow {
        font-size: 50px; 
    }
} 

@media (max-width: 1200px) {
    .Hollow {
        font-size: 75px; 
    }
    .smallHollow {
        font-size: 45px; 
    }
    .lgHollow {
        font-size: 35px; 
    }
} 


@media (max-width: 768px) {
    .Hollow {
        font-size: 80px; 
    }
    .smallHollow {
        font-size: 40px; 
    }
}

@media (max-width: 480px) {
    .Hollow {
        font-size: 16vw; 
    }
    .smallHollow {
        font-size: 10vw; 
    }
}

.question{
    font-size: 5vw;
    color:#56328C;
}